* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background: linear-gradient(rgb(100, 100, 100), rgb(73, 73, 73));
    height: 80px;
    width: 100%;
}

nav ul{
    text-align: center;
    margin-right: 0px;
}

nav ul li{
    display: inline-block;
    line-height: 80px; 
    margin: 0 5px;
    margin-left: 2%;
    margin-right: 2%;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13;
    border-radius: 3 px;
}

a.active, a:hover{
    border-bottom: 4px solid white;
    padding-bottom: 3px;
    transition: .2s;
}

#logo {
    border-bottom: 0px;
    padding-bottom: 0px;
}

.selectDir{
    display: flex;
}

.dir{
    flex: 1;
}

.map{
    height: 30em;
    width: 100%;
}

#reservation{
    width: 100%;
}

.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


footer{
    background: black;
    height: 80px;
    width: 100%;
}

footer p, h6 {
    color: white;
}