<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>

    <h1>Servicios</h1>

    <h3>Y ya fueron todos los servicios...</h3>

    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-98.25226664543153%2C19.025062818128347%2C-98.24864566326143%2C19.02693415140341&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=19/19.02600/-98.25046">View Larger Map</a></small>

    <a href="../index.html">
        <h3>Regresar a la página principal</h5>
    </a>
    
</body>
</html>